<!DOCTYPE html>
<html style="background-image: url('daisy_frame.jpg');">
<head>
    <link rel="stylesheet" href="styles.css">
    <title style="align-content: center;">Daily Affirmations</title>
</head>
<body>
    <h1>Good morning Jessica!</h1>
    <p>It's time for your daily affirmations! Read these aloud 3 times and take deep breaths. You're gonna rock today!</p>
    <p class="aff">{{ text1 }}</p>
    <p class="aff">{{ text2 }}</p>
    <p class="aff">{{ text3 }}</p>
    <p class="aff">{{ text4 }}</p>
    <p class="aff">{{ text5 }}</p>
    <p class="aff">{{ text6 }}</p>
    <p class="aff">{{ text7 }}</p>
    <p class="aff">{{ text8 }}</p>
    <p class="aff">{{ text9 }}</p>
    <p class="aff">{{ text10 }}</p>
</body>
</html>